*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h2, h3{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

header{
    background-color: black;
}

.nav-toggle{
    border:1px solid rgb(25, 147, 151);
    background-color: rgb(25, 147, 151);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1em;
}

.bar{
    display: block;
    width: 50%;
    height: 5px;
    margin: 3px 0 5px 9.5px;
    background-color: black;
   
}

.top{
    display: flex;
    column-gap: 2em;
    padding-top: 1em;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #fff;
    font-family: 'Calligraffitti', cursive;
    font-size: 20px;
    font-weight: 900;
}

.logo p{
    font-family: 'Calligraffitti', cursive;
}

.nav{
    visibility: hidden;
    height: 0;
}

.nav-visible{
        display: flex;
        min-height: 25vh;
        display: flex;
        flex-direction: column;
        visibility: visible;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 1em auto;
    row-gap: 1em;
}

.nav-link{
    text-decoration: none;
    color: rgb(25, 147, 151);
    display: flex;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.nav-link:hover, .nav-link:focus{
    opacity: 0.7;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.wrapper-1{
    background-color: rgb(17, 16, 16);
    color: #fff;
}

.mini-wrapper1{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.hero-text p{
    color: rgb(25, 147, 151);
    font-family: 'Montserrat', sans-serif;
    padding: 0.2em 0 1em 0;
}

.wrapper-2{
    background-color: black;
    color: #fff;
    padding: 3em 0;
}

.mini-wrapper2{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.mini-wrapper3{
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    text-align: center;
}

.mini-wrapper3 h3{
    padding-bottom: 0.2em;
    color: rgb(25, 147, 151);
}

.screenshot{
    cursor: pointer;
}

.screenshot:hover, .screenshot:focus{
    opacity: 0.7;
}

.wrapper-3{
    background-color: rgb(17, 16, 16);
    color: #fff;
    padding: 2em 0;
}

.wrapper-4{
    background-color: black;
    color: #fff;
    padding: 2em 0;
}

.skill-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1em;
    list-style-type: disc;
    padding: 2em;
    color: rgb(25, 147, 151);
    font-family: 'Montserrat', sans-serif;
}

.wrapper-5{
    background-color: rgb(19, 18, 18);
    color: #fff;
    padding: 1em;
}

.miniwrapper-5 h3{
    padding-top: 0.5em;
}

.socials, .contact-info{
    list-style: none;
}

.miniwrapper-5 li{
    padding:0.2em 0;
}

.wrapper-5 a, .phone{
    color: rgb(25, 147, 151);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.miniwrapper-5{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    text-align: left;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

@media(min-width:700px){
    .container{
       max-width: 1000px;
    }

    .nav-toggle{
        visibility: hidden;
        height: 0;
        display: none;
    }

    .nav{
        visibility: visible;
        display: flex;
        min-height: 5vh;
        display: flex;
        flex-direction: row;
        visibility: visible;
    }

    header{
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid rgb(25, 147, 151);
        min-height: 3em;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        column-gap: 2em;
        align-items: center;
        margin-right: 2em;
    }

    .top{
        padding: 0;
        align-items: flex-start;
        height: fit-content;
        margin: 0;
        margin-left: 1em;
    }

    .logo{
        margin-top: 5px;
    }  
}

@media (min-width:900px) {

    .mini-wrapper1{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3em 0;
    }

    .hero-text{
        width: 90%;
        align-self:center;
        text-align: center;
    }

    .hero-img{
        width: 100%;
    }
    
    .mini-wrapper2{
        display: flex;
        flex-direction: row;
        column-gap: 5%;
        padding: 3em 0;
    }

    .about-text{
        width: 45%;
    }

    .about-img{
        width: 50%;
        align-self: flex-end;
    }

    .mini-wrapper3{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 3em;
        row-gap: 2em;
        padding: 3em 0;
    }
    .mini-wrapper4{
        padding: 2em 0;
    }

    .skill-list{
        display: grid;
        grid-template-columns: auto auto;
    }

    .miniwrapper-5{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2em 0;
    }
    .miniwrapper-5 ul{
        padding-top: 0.5em;
    }

    
}